.app-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.CodeMirror {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.editing-area {
  width: 100%;
  height: 20%;
  min-height: 20rem;
}

.editor-button {
  height: 2rem;
  margin-top: 0.5rem;
}

.evaluation-results {
  max-height: 80%;
  overflow-y: auto;
}

.single-evaluation-result:before {
  content: '> ';
}