.code-editor {
  height: calc(100% - 2.5rem);
}

.code-editor > div,
.CodeMirror.cm-s-default {
  height: 100%;
}

.CodeMirror {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.CodeMirror pre.CodeMirror-line  {
  font-family: 'Hack';
  font-size: 16px;
}

.CodeMirror-scroll {
  background-color: #eee8d5;
}

.CodeMirror-gutter {
  background-color: #fdf6e3;
}